<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="text">
      {{comment_text}}
    </div>
    <div class="meta">
      <b>by {{user.username}}</b>
    </div>
  <p class="comment-float"></p>
  </section>
  {{/each}}
</div>