<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TECH-BLOG</title>
  <!--  Bootstrap CDNs -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link href="/css/style.css" rel="stylesheet"/>

  <!-- CSS -->
  <title>Tech-Blog</title>
</head>
<body>
          <nav id="index-navbar" class="navbar navbar-expand-lg navbar-light col-12">
            <a class="navbar-brand" href="/">Tech-Blog</a>
            
            <!-- Toggle navigation -->
            <button 
                 class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01"
                aria-expanded="false"
                aria-label="Toggle navigation"  >
            <i class="fas fa-bars"></i>
            </button>
                <div class="collapse navbar-collapse" id="navbarExample01">

                    <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link selected-nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link selected-nav-link" href="/dashboard">Dashboard</a>
                        </li>
                    
                    {{#if logged_in}}
                    <nav>
                    <button class="btn" id="logout">logout</button>
                    </nav>
                    {{/if}}

                    {{#if logged_out}}
                    <li class="nav-item login">
                        <a class="nav-link selected-nav-link" href="/login">Log In</a>
                    </li>
                    <li class="nav-item join">
                        <a class="nav-link selected-nav-link" href="/register">Register</a>
                    </li>
                    {{/if}}
                    </ul>
                </div>
        </nav>
<<<<<<< HEAD
    {{{ body }}}
=======
        {{{ body }}}
>>>>>>> 0fd99d1af4c91186357128f9ef833074b1d0f55a
</body>

</html>