<div class="container">
    <h2>Add a new post</h2>
    <form id="newPost">
        <div>
            <label>Title:</label>
            <input type="text">
        </div>
        <div>
            <label>Content:</label>
            <br>
            <textarea cols="30" rows="10"></textarea>
        </div>
        <button id="submit">Submit</button>
    </form>
</div>