<div class="container form-card">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-10 col-lg-6 col-xl-6">
        <div class="card bg-white text-dark">
          <div class="card-body p-5 text-center">


              <h2 class="mb-4 text-uppercase">Login</h2>
              <form class="login-form">
              <div class="form-outline form-dark mb-4">
                <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX">Enter your email</label>
              </div>

              <div class="form-outline form-dark mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX">Password</label>
              </div>

              <button class="btn btn-outline-dark text-black btn-lg px-5" type="submit">Login</button>
              </form>
            <div class="register-now mb-5">
                    <p class="text-dark-50 mb-5">Don't have an account? <a class="nav-link text-dark-50 fw-bold selected-nav-link" href="/register"><u>Click here to register</a></u></p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>