<div class="newContainer">
<div class="card">
        <h3 class="card-header">Login</h3>
        <form id="login-form">
            <div class="form-group">
                <label for="username-login">Username</label>
                <input type="text" class="form-control" id="username-login" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password-login">Password</label>
                <input type="password" class="form-control" id="password-login" placeholder="Password">
            </div>
            <div class="btn-tab">
            <button type="submit" class="btn btn-lg">Login</button>
            </div>
            <hr>
            <div class="register-link">
                <a class="login-link" href="/register">Don't have an account?</a>
            </div>
        </form>
    </div>

</div>

<script src="/js/login.js"></script>
