<div class="container">
    <div class="card">
        <h3 class="card-header">Sign Up</h3>
        <form id="signUp">
            <div class="form-body">
                <label for="username-r">Username</label>
                <input type="text" class="form-control" id="username-r" placeholder="Username">
            </div>
            <div class="form-body">
                <label for="password-r">Password</label>
                <input type="password" class="form-control" id="password-r" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Signup</button>
        </form>
    </div>
</div>

<script src="/js/register.js"></script>