<div class="newContainer">
    <div class="card">
        <h3 class="card-header">Sign Up</h3>
        <form id="signUp">
            <div class="form-body">
                <label for="fullName">Full Name</label>
                <input type="text" class="form-control" id="fullName" placeholder="Full Name">
            </div>
            <div class="form-body">
                <label for="username-r">Username</label>
                <input type="text" class="form-control" id="username-r" placeholder="Username">
            </div>
            <div class="form-body">
                <label for="email-r">Email</label>
                <input type="text" class="form-control" id="email-r" placeholder="Email">
            </div>
            <div class="form-body">
                <label for="password-r">Password</label>
                <input type="password" class="form-control" id="password-r" placeholder="Password">
            </div>
            <div class=".btn-tab">
            <button type="submit" class="btn btn-lg">Signup</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/register.js"></script>