body{
    font-family: 'Times New Roman', Times, serif;
}
nav{
    width: 100%;
}

li {
    list-style: none;
}

.navbar-brand {
    padding: 1rem;
}

.nav-item:hover {
    opacity: 40%;
}

.container {
    width: 90%;
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    margin: 1rem auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newPost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
}

.blog-card { 
    margin: 1rem auto;
    padding: 1rem auto;
    display: flex;
    flex-flow: column;
    width: 80%;
    height: 6rem;
    border-radius: 0.5rem;
}

.blog-card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    cursor: pointer;
}
.edit-blog {
    text-decoration: none;
    color: black;
}
.edit-blog:hover {
    color: black;
}

.view-blog {
    text-decoration: none;
    color: black;
}

.view-blog:hover {
    color: black;
}